---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
	<h2>A bit about me</h2>
	<p>
		I have over seven years of experience in the software development industry and have a passion
		for creating beautiful, customisable and affordable websites.
	</p>

	<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		<div class="col-start-1 flex items-center justify-center">
			<img alt="A hammer" src="images/working.webp" height="300" width="300" />
		</div>
		<div class="col-start-1 rounded-lg bg-neutral-500/10 p-4 sm:col-start-2">
			I will always choose the best tools for the job, regardless of what preferences I have. I am a
			strong believer that you need the right tool for the job, and that you should not be afraid to
			experiment. I ensure that every client receives a site that is both stunning and practical.
		</div>
	</div>
	<br />
	<h2>Technologies and Tools</h2>

	<div class="mt-2 grid grid-cols-2 gap-4 text-sm sm:grid-cols-4">
		<div
			class="col-start-1 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold"
		>
			<span>Typescript</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="typescript" clip-path="url(#clip0_790_10643)">
					<path id="Vector" d="M0 0H100V100H0V0Z" fill="#5F5F5F"></path>
					<path
						id="Vector_2"
						d="M48 37.0001H52.8V45.3001H39.8V82.1001L39.5 82.2001C39 82.3001 32.9 82.3001 31.5 82.2001L30.4 82.1001V45.3001H17.4V37.0001H21.5C23.7 37.0001 29.5 37.0001 34.3 37.0001C39.3 37.0001 45.4 37.0001 48 37.0001ZM84.6 78.3001C82.7 80.3001 80.6 81.4001 77.2 82.4001C75.7 82.8001 75.5 82.8001 72.1 82.8001C68.8 82.8001 68.5 82.8001 66.9 82.4001C62.7 81.3001 59.3 79.2001 57 76.2001C56.3 75.4001 55.3 73.6001 55.3 73.4001C55.3 73.3001 55.5 73.2001 55.7 73.1001C55.9 73.0001 56.3 72.7001 56.7 72.5001C57 72.3001 57.7 71.9001 58.1 71.7001C58.5 71.5001 59.7 70.8001 60.8 70.1001C61.9 69.5001 62.8 68.9001 62.9 68.9001C63 68.9001 63.2 69.1001 63.4 69.4001C64.3 71.0001 66.5 73.0001 68.1 73.7001C69.1 74.1001 71.2 74.6001 72.2 74.6001C73.1 74.6001 74.9 74.2001 75.8 73.8001C76.8 73.3001 77.3 72.9001 77.9 72.0001C78.3 71.4001 78.4 71.2001 78.3 70.0001C78.3 68.9001 78.2 68.6001 77.9 68.0001C77 66.6001 75.8 65.8001 71 63.7001C66 61.5001 63.8 60.2001 62 58.4001C60.7 57.1001 60.4 56.7001 59.5 55.1001C58.4 53.0001 58.3 52.3001 58.3 49.2001C58.3 47.0001 58.3 46.3001 58.6 45.5001C58.9 44.4001 60 42.2001 60.5 41.7001C61.5 40.5001 61.9 40.2001 62.6 39.6001C64.7 37.8001 68 36.7001 71.2 36.6001C71.6 36.6001 72.7 36.7001 73.9 36.7001C77.1 37.0001 79.3 37.7001 81.4 39.4001C83 40.6001 85.4 43.6001 85.1 44.0001C84.9 44.2001 78.7 48.4001 78.3 48.5001C78.1 48.6001 77.9 48.5001 77.5 48.1001C75.4 45.6001 74.5 45.0001 72.5 44.9001C71 44.8001 70.3 45.0001 69.3 45.6001C68.3 46.3001 67.8 47.3001 67.8 48.8001C67.8 50.9001 68.6 51.9001 71.6 53.4001C73.5 54.4001 75.2 55.1001 75.3 55.1001C75.5 55.1001 79.5 57.1001 80.5 57.7001C85.4 60.6001 87.4 63.5001 87.9 68.6001C88 72.3001 87 75.8001 84.6 78.3001Z"
						fill="white"></path>
				</g>
				<defs>
					<clipPath id="clip0_790_10643">
						<rect width="100" height="100" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
		<div
			class="col-start-2 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold"
		>
			<span>Javascript</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="js" clip-path="url(#clip0_790_8266)">
					<path id="Vector" d="M100 0H0V100H100V0Z" fill="#D1D1D1"></path>
					<path
						id="Vector_2"
						d="M67.2 78.0999C69.2 81.3999 71.8 83.7999 76.5 83.7999C80.4 83.7999 82.9 81.8999 82.9 79.1999C82.9 75.9999 80.3 74.7999 76.1 72.9999L73.8 71.9999C67 69.0999 62.5 65.4999 62.5 57.7999C62.5 50.7999 67.9 45.3999 76.3 45.3999C82.3 45.3999 86.6 47.4999 89.7 52.8999L82.4 57.5999C80.8 54.6999 79.1 53.5999 76.4 53.5999C73.6 53.5999 71.9 55.2999 71.9 57.5999C71.9 60.3999 73.6 61.5999 77.7 63.2999L80 64.2999C88 67.6999 92.5 71.1999 92.5 79.0999C92.5 87.5999 85.9 92.1999 76.9 92.1999C68.2 92.1999 62.5 87.9999 59.8 82.5999L67.2 78.0999ZM34 78.8999C35.5 81.4999 36.8 83.6999 40 83.6999C43.1 83.6999 45 82.4999 45 77.7999V45.7999H54.4V77.9999C54.4 87.6999 48.7 92.1999 40.4 92.1999C32.9 92.1999 28.5 88.2999 26.3 83.5999L34 78.8999Z"
						fill="black"></path>
				</g>
				<defs>
					<clipPath id="clip0_790_8266">
						<rect width="100" height="100" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
		<div
			class="col-start-1 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold sm:col-start-3"
		>
			<span>React</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 101 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="reactjs">
					<path
						id="Vector"
						d="M50.3 58.7999C55.2 58.7999 59.1 54.9 59.1 50C59.1 45.1 55.2 41.2 50.3 41.2C45.4 41.2 41.5 45.1 41.5 50C41.5 54.9 45.4 58.7999 50.3 58.7999Z"
						fill="#B9B9B9"></path>
					<path
						id="Vector_2"
						d="M50.3 68.0999C76.4 68.0999 97.6 59.9999 97.6 49.9999C97.6 39.9999 76.4 31.8999 50.3 31.8999C24.2 31.8999 3 39.9999 3 49.9999C3 59.9999 24.2 68.0999 50.3 68.0999Z"
						stroke="#B9B9B9"
						stroke-width="5"></path>
					<path
						id="Vector_3"
						d="M34.7 59C47.7 81.7 65.3 96 74 91C82.6 86 79.1 63.6 66 41C52.9 18.3 35.3 4.00002 26.7 9.00002C18 14 21.6 36.4 34.7 59Z"
						stroke="#B9B9B9"
						stroke-width="5"></path>
					<path
						id="Vector_4"
						d="M34.7 41C21.6 63.6 18.1 86 26.7 91C35.3 96 52.9 81.7 65.9 59C79 36.4 82.6 14 74 9.00002C65.3 4.00002 47.7 18.3 34.7 41Z"
						stroke="#B9B9B9"
						stroke-width="5"></path>
				</g>
			</svg>
		</div>
		<div
			class="col-start-2 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold sm:col-start-4"
		>
			<span>Astro</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="astro">
					<path
						id="Vector"
						d="M35.7 85.2001C31.2 81.1001 29.9 72.4001 31.8 66.1001C35.1 70.1001 39.6 71.3001 44.2 72.0001C51.4 73.1001 58.5 72.7001 65.2 69.4001C66 69.0001 66.7 68.5001 67.5 68.0001C68.1 69.8001 68.3 71.7001 68.1 73.6001C67.6 78.2001 65.3 81.7001 61.7 84.4001C60.3 85.5001 58.7 86.4001 57.2 87.4001C52.6 90.5001 51.4 94.1001 53.1 99.4001C53.1 99.5001 53.2 99.7001 53.3 100C51 98.9001 49.3 97.4001 48 95.4001C46.6 93.3001 46 90.9001 45.9 88.4001C45.9 87.2001 45.9 85.9001 45.7 84.7001C45.3 81.7001 43.9 80.4001 41.3 80.3001C38.6 80.2001 36.5 81.9001 35.9 84.5001C35.8 84.7001 35.8 84.9001 35.7 85.2001Z"
						fill="#838383"></path>
					<path
						id="Vector_2"
						d="M10 65C10 65 23.3 58.5 36.7 58.5L46.8 27.2C47.2 25.7 48.3 24.7 49.5 24.7C50.7 24.7 51.8 25.7 52.2 27.2L62.3 58.5C78.1 58.5 89 65 89 65C89 65 66.4 3.1 66.3 3C65.7 1.2 64.6 0 63.1 0H35.9C34.4 0 33.4 1.2 32.7 3C32.6 3.1 10 65 10 65Z"
						fill="#020202"></path>
				</g>
			</svg>
		</div>
	</div>

	<div class="mt-4 grid grid-cols-2 gap-4 text-sm sm:grid-cols-4">
		<div
			class="col-start-1 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold"
		>
			<span>Typescript</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="typescript" clip-path="url(#clip0_790_10643)">
					<path id="Vector" d="M0 0H100V100H0V0Z" fill="#5F5F5F"></path>
					<path
						id="Vector_2"
						d="M48 37.0001H52.8V45.3001H39.8V82.1001L39.5 82.2001C39 82.3001 32.9 82.3001 31.5 82.2001L30.4 82.1001V45.3001H17.4V37.0001H21.5C23.7 37.0001 29.5 37.0001 34.3 37.0001C39.3 37.0001 45.4 37.0001 48 37.0001ZM84.6 78.3001C82.7 80.3001 80.6 81.4001 77.2 82.4001C75.7 82.8001 75.5 82.8001 72.1 82.8001C68.8 82.8001 68.5 82.8001 66.9 82.4001C62.7 81.3001 59.3 79.2001 57 76.2001C56.3 75.4001 55.3 73.6001 55.3 73.4001C55.3 73.3001 55.5 73.2001 55.7 73.1001C55.9 73.0001 56.3 72.7001 56.7 72.5001C57 72.3001 57.7 71.9001 58.1 71.7001C58.5 71.5001 59.7 70.8001 60.8 70.1001C61.9 69.5001 62.8 68.9001 62.9 68.9001C63 68.9001 63.2 69.1001 63.4 69.4001C64.3 71.0001 66.5 73.0001 68.1 73.7001C69.1 74.1001 71.2 74.6001 72.2 74.6001C73.1 74.6001 74.9 74.2001 75.8 73.8001C76.8 73.3001 77.3 72.9001 77.9 72.0001C78.3 71.4001 78.4 71.2001 78.3 70.0001C78.3 68.9001 78.2 68.6001 77.9 68.0001C77 66.6001 75.8 65.8001 71 63.7001C66 61.5001 63.8 60.2001 62 58.4001C60.7 57.1001 60.4 56.7001 59.5 55.1001C58.4 53.0001 58.3 52.3001 58.3 49.2001C58.3 47.0001 58.3 46.3001 58.6 45.5001C58.9 44.4001 60 42.2001 60.5 41.7001C61.5 40.5001 61.9 40.2001 62.6 39.6001C64.7 37.8001 68 36.7001 71.2 36.6001C71.6 36.6001 72.7 36.7001 73.9 36.7001C77.1 37.0001 79.3 37.7001 81.4 39.4001C83 40.6001 85.4 43.6001 85.1 44.0001C84.9 44.2001 78.7 48.4001 78.3 48.5001C78.1 48.6001 77.9 48.5001 77.5 48.1001C75.4 45.6001 74.5 45.0001 72.5 44.9001C71 44.8001 70.3 45.0001 69.3 45.6001C68.3 46.3001 67.8 47.3001 67.8 48.8001C67.8 50.9001 68.6 51.9001 71.6 53.4001C73.5 54.4001 75.2 55.1001 75.3 55.1001C75.5 55.1001 79.5 57.1001 80.5 57.7001C85.4 60.6001 87.4 63.5001 87.9 68.6001C88 72.3001 87 75.8001 84.6 78.3001Z"
						fill="white"></path>
				</g>
				<defs>
					<clipPath id="clip0_790_10643">
						<rect width="100" height="100" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
		<div
			class="col-start-2 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold"
		>
			<span>Javascript</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="js" clip-path="url(#clip0_790_8266)">
					<path id="Vector" d="M100 0H0V100H100V0Z" fill="#D1D1D1"></path>
					<path
						id="Vector_2"
						d="M67.2 78.0999C69.2 81.3999 71.8 83.7999 76.5 83.7999C80.4 83.7999 82.9 81.8999 82.9 79.1999C82.9 75.9999 80.3 74.7999 76.1 72.9999L73.8 71.9999C67 69.0999 62.5 65.4999 62.5 57.7999C62.5 50.7999 67.9 45.3999 76.3 45.3999C82.3 45.3999 86.6 47.4999 89.7 52.8999L82.4 57.5999C80.8 54.6999 79.1 53.5999 76.4 53.5999C73.6 53.5999 71.9 55.2999 71.9 57.5999C71.9 60.3999 73.6 61.5999 77.7 63.2999L80 64.2999C88 67.6999 92.5 71.1999 92.5 79.0999C92.5 87.5999 85.9 92.1999 76.9 92.1999C68.2 92.1999 62.5 87.9999 59.8 82.5999L67.2 78.0999ZM34 78.8999C35.5 81.4999 36.8 83.6999 40 83.6999C43.1 83.6999 45 82.4999 45 77.7999V45.7999H54.4V77.9999C54.4 87.6999 48.7 92.1999 40.4 92.1999C32.9 92.1999 28.5 88.2999 26.3 83.5999L34 78.8999Z"
						fill="black"></path>
				</g>
				<defs>
					<clipPath id="clip0_790_8266">
						<rect width="100" height="100" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
		<div
			class="col-start-1 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold sm:col-start-3"
		>
			<span>React</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 101 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="reactjs">
					<path
						id="Vector"
						d="M50.3 58.7999C55.2 58.7999 59.1 54.9 59.1 50C59.1 45.1 55.2 41.2 50.3 41.2C45.4 41.2 41.5 45.1 41.5 50C41.5 54.9 45.4 58.7999 50.3 58.7999Z"
						fill="#B9B9B9"></path>
					<path
						id="Vector_2"
						d="M50.3 68.0999C76.4 68.0999 97.6 59.9999 97.6 49.9999C97.6 39.9999 76.4 31.8999 50.3 31.8999C24.2 31.8999 3 39.9999 3 49.9999C3 59.9999 24.2 68.0999 50.3 68.0999Z"
						stroke="#B9B9B9"
						stroke-width="5"></path>
					<path
						id="Vector_3"
						d="M34.7 59C47.7 81.7 65.3 96 74 91C82.6 86 79.1 63.6 66 41C52.9 18.3 35.3 4.00002 26.7 9.00002C18 14 21.6 36.4 34.7 59Z"
						stroke="#B9B9B9"
						stroke-width="5"></path>
					<path
						id="Vector_4"
						d="M34.7 41C21.6 63.6 18.1 86 26.7 91C35.3 96 52.9 81.7 65.9 59C79 36.4 82.6 14 74 9.00002C65.3 4.00002 47.7 18.3 34.7 41Z"
						stroke="#B9B9B9"
						stroke-width="5"></path>
				</g>
			</svg>
		</div>
		<div
			class="col-start-2 flex items-center justify-center space-x-2 rounded-lg bg-neutral-500/10 p-4 hover:bg-neutral-500/20 hover:font-iaWriterMonoBold sm:col-start-4"
		>
			<span>Astro</span>
			<svg
				width="30"
				height="30"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="astro">
					<path
						id="Vector"
						d="M35.7 85.2001C31.2 81.1001 29.9 72.4001 31.8 66.1001C35.1 70.1001 39.6 71.3001 44.2 72.0001C51.4 73.1001 58.5 72.7001 65.2 69.4001C66 69.0001 66.7 68.5001 67.5 68.0001C68.1 69.8001 68.3 71.7001 68.1 73.6001C67.6 78.2001 65.3 81.7001 61.7 84.4001C60.3 85.5001 58.7 86.4001 57.2 87.4001C52.6 90.5001 51.4 94.1001 53.1 99.4001C53.1 99.5001 53.2 99.7001 53.3 100C51 98.9001 49.3 97.4001 48 95.4001C46.6 93.3001 46 90.9001 45.9 88.4001C45.9 87.2001 45.9 85.9001 45.7 84.7001C45.3 81.7001 43.9 80.4001 41.3 80.3001C38.6 80.2001 36.5 81.9001 35.9 84.5001C35.8 84.7001 35.8 84.9001 35.7 85.2001Z"
						fill="#838383"></path>
					<path
						id="Vector_2"
						d="M10 65C10 65 23.3 58.5 36.7 58.5L46.8 27.2C47.2 25.7 48.3 24.7 49.5 24.7C50.7 24.7 51.8 25.7 52.2 27.2L62.3 58.5C78.1 58.5 89 65 89 65C89 65 66.4 3.1 66.3 3C65.7 1.2 64.6 0 63.1 0H35.9C34.4 0 33.4 1.2 32.7 3C32.6 3.1 10 65 10 65Z"
						fill="#020202"></path>
				</g>
			</svg>
		</div>
	</div>
</PageLayout>
