---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
	<p>
		Hi, I'm Chris!

		<br />
		<br />
		 Welcome to my CMS site template, where I've harnessed the power of Decap CMS for dynamic
		content management.

		<br />
		<br />
		 This template simplifies your workflow by allowing you to manage your site seamlessly with
		Markdown files. The integration of Decap CMS ensures a user-friendly experience, enabling you to
		update your content effortlessly without diving into complex code.

		<br />
		<br />
		 Enjoy a streamlined content editing process and watch your site evolve with ease.
		<br />
		<br />
		<div class="flex flex-col text-blue-600">
			<a href="/admin">CMS Admin</a>
			<a href="/admin/config.yml">CMS Config</a>
		</div>
	</p>
</PageLayout>
