---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
	<h2>A bit about me</h2>
	<p>
		Hi I'm Chris! I have over 7 years of experience in the software development industry, and have a
		passion for creating beautiful, customisable and affordable websites. With a keen eye for design
		and a strong technical foundation, I will always choose the best tools for the job, ensuring
		that every client receives a site that is both stunning and practical.
	</p>
	<p>
		I offer a range of services, including web development, design, consulting and genereal support.
	</p>
</PageLayout>
