---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";

const posts = (await Astro.glob("../content/post/*.md")).sort(
	(a, b) =>
		new Date(b.frontmatter.updated || b.frontmatter.added).valueOf() -
		new Date(a.frontmatter.updated || a.frontmatter.added).valueOf(),
);
---

<PageLayout>
	<ul class="posts-list">
		{
			posts.map(({ file, frontmatter: { title, description, date } }) => {
				const urlWorkaround = file.split("/").pop()?.split(".")[0];
				return (
					<div class="mb-6">
						<div class="flex items-start justify-between">
							<a class="mr-4 text-2xl text-neutral-800 underline" href={`/post/${urlWorkaround}`}>
								{title}
							</a>
							<div class="whitespace-nowrap pt-[4px] text-lg text-neutral-500">
								{new Date(date).toLocaleDateString()}
							</div>
						</div>
						<p class="text-lg">{description}</p>
					</div>
				);
			})
		}
	</ul>
</PageLayout>
