---
import { getCollection } from "astro:content";
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
import Tags from "@components/Tags.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { title, date, tags } = Astro.props.post.data;
const { Content } = await Astro.props.post.render();
---

<PageLayout>
	<h2>{title}</h2>
	<p class="mt-1 text-sm text-neutral-500 dark:text-neutral-400">
		Published on {new Date(date).toLocaleDateString()}
	</p>
	<div class="-mt-4">
		<Tags tags={tags} />
	</div>
	<hr class="my-4 border border-neutral-300 dark:border-neutral-700" />
	<Content />
</PageLayout>
