---
// Usage: <PostPreview url="first-post" title="First post" description="The first post!" date="2024-10-16T18:28:00.000Z" />
import Tags from "@components/Tags.astro";
const { url, title, description, date, tags } = Astro.props;
---

<div class="mb-6">
	<div class="flex items-start justify-between">
		<a class="text-2xl text-neutral-800 underline dark:text-neutral-200" href={`/post/${url}`}>
			{title}
		</a>
		<div class="whitespace-nowrap pt-[7px] text-neutral-500">
			{new Date(date).toLocaleDateString()}
		</div>
	</div>
	<p class="text-lg">{description}</p>
	<div class="-mt-5">
		<Tags tags={tags} />
	</div>
</div>
