---
const { tags } = Astro.props;
---

{
	tags.map((tag) => {
		tag = `#${tag.toLowerCase()}`;
		return (
			<a href={`/tags/${tag}`} class="mr-2 text-sm text-neutral-500  dark:text-neutral-200">
				{tag}
			</a>
		);
	})
}
