@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-iaWriterMono;
	}
	a {
		@apply decoration-4 hover:font-iaWriterMonoBold hover:underline;
	}
}

/* Fonts */
@font-face {
	font-family: "iA Writer Mono";
	src:
		url(/fonts/ia-writer-mono-latin-400-normal.woff2) format("woff2"),
		url(../public/fonts/ia-writer-mono-latin-400-normal.woff) format("woff"),
		url(../public/fonts/ia-writer-mono-latin-400-italic.woff2) format("woff2"),
		url(../public/fonts/ia-writer-mono-latin-400-italic.woff) format("woff");
}
@font-face {
	font-family: "iA Writer Mono Bold";
	src:
		url(/fonts/ia-writer-mono-latin-700-normal.woff2) format("woff2"),
		url(/fonts/ia-writer-mono-latin-700-normal.woff) format("woff"),
		url(/fonts/ia-writer-mono-latin-700-italic.woff2) format("woff2"),
		url(/fonts/ia-writer-mono-latin-700-italic.woff) format("woff");
}

.wave {
	--mask: radial-gradient(57.4px at 50% 80.5px, #000 99%, #0000 101%) calc(50% - 70px) 0/140px 100%,
		radial-gradient(57.4px at 50% -45.5px, #0000 99%, #000 101%) 50% 35px/140px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	height: 60px;
	background: #000;
}

.wave2 {
	margin-top: -58px;
	--mask: radial-gradient(57.4px at 50% 80.5px, #000 99%, #0000 101%) calc(50% - 70px) 0/140px 100%,
		radial-gradient(57.4px at 50% -45.5px, #0000 99%, #000 101%) 50% 35px/140px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	height: 60px;
	background: #fff6f6;
}

#burst-8 {
	background: red;
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
	transform: rotate(20deg);
}
#burst-8:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	background: red;
	transform: rotate(135deg);
}
