---
import NavBar from "@components/NavBar.astro";
const pages = await Astro.glob("../content/page/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#BAE6FD" />
		<title>Astro CMS Template</title>
		<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

		<!-- netlify identity -->
		<script defer>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
	</head>
	<body class="min-h-[101vh] bg-[#fff6f6] dark:bg-neutral-900">
		<div
			class="min-w-screen relative bg-sky-200 text-neutral-700 dark:bg-sky-900 dark:text-neutral-200"
		>
			<center>
				<br />
				<header>
					<img
						src="/avatar.webp"
						alt="avatar"
						width="200"
						height="200"
						class="mb-4 h-[200px] w-[200px] rounded-full object-cover"
					/>
					<div class="mb-4 flex max-w-[700px] items-center px-6 text-left">
						<div class="flex-grow text-center">
							<h1 class="text-3xl text-neutral-800 dark:text-neutral-200 sm:text-4xl">
								Chris's cms template
							</h1>
							<h2 class="text-xl text-neutral-600 dark:text-neutral-300">
								A site template for you!
							</h2>
						</div>
					</div>
				</header>

				<NavBar pages={pages} />

				<div class="wave"></div>
				<div class="wave2 bg-[#fff6f6] dark:bg-neutral-900"></div>

				<main class="-mt-1">
					<div
						class="bg-[#fff6f6] px-4 pt-4 text-left text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300"
					>
						<div class="mx-auto max-w-[700px] pb-12">
							<slot />
						</div>
					</div>
				</main>
			</center>
		</div>
	</body>
</html>
