<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#BAE6FD" />
		<title>Astro CMS Template</title>
		<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script defer>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
	</head>
	<body class="bg-[#fff6f6]">
		<div
			class="min-w-screen min-h-fit bg-sky-200 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-200"
		>
			<center>
				<header>
					<br />
					<img
						src="/avatar.webp"
						alt="avatar"
						width="200"
						height="200"
						class="mb-4 h-[200px] w-[200px] rounded-full object-cover"
					/>
					<div class="mb-4 flex max-w-[700px] items-center px-6 text-left">
						<div class="flex-grow text-center">
							<h1 class="text-3xl text-neutral-800 sm:text-4xl">Chris's cms template</h1>
							<h2 class="text-xl text-neutral-600 dark:text-neutral-400">
								A site template for you!
							</h2>
						</div>
					</div>
					<nav class="mt-6 w-fit space-x-6 text-lg">
						<a href="/#" class="font-iaWriterMonoBold underline">home</a>
						<a href="/posts">posts</a>
						<a href="/#">setup</a>
					</nav>
					<div class="wave"></div>
					<div class="wave2"></div>
				</header>

				<main class="-mt-1">
					<div class="min-h-screen bg-[#fff6f6] px-4 pt-4 text-left text-lg">
						<div class="mx-auto max-w-[700px]">
							<slot />
						</div>
					</div>
				</main>
			</center>
		</div>
	</body>
</html>
